.container {
  width: 400px;
}
.input {
  width: 90%;
  padding: 6px;
  border-radius: 10px 0 0 10px;
  outline: none;
}
.input::placeholder {
  color: #999; 
  font-style: italic; 
  padding-right:  10px;
}
.button {
  padding: 7px 10px;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #000000;
  color: #fff;
}

@media only screen and (max-width:500px){
  .container {  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .input{
    width: 60%;
  }
}